
/*---- App-wide font styles ----*/

h1 {
  @apply text-2xl sm:text-3xl lg:text-4xl xl:text-5xl text-white;  
}

h2 {
  @apply font-bold text-xl sm:text-2xl lg:text-3xl xl:text-4xl 
  mb-3 text-gray-800;
}

h3 {
    @apply font-bold text-lg sm:text-xl lg:text-2xl xl:text-3xl
    mb-2 text-gray-800 text-center;
}

a {
  @apply text-blue-500
  transition 
    delay-300;
}

a:hover {
  @apply text-blue-600;
}

/*----- App-wide layout styles -----*/

body {
  @apply flex justify-center w-screen bg-gray-800;
}

main {
  @apply mb-8;
}

.container {
  @apply w-screen grid 
  gap-4 p-2
  grid-cols-1 grid-rows-[auto_auto_1fr_auto]
  lg:grid-cols-8;
}

.logo-container {
  @apply  
  row-start-1 row-end-1
  col-start-1 col-end-1
  lg:col-start-2 lg:col-span-6
    flex 
      gap-4 items-center justify-center px-4 py-4;
  }

.search {
  @apply 
  row-start-2 row-end-2
  col-start-1 col-end-1
  lg:col-start-2 lg:col-end-8 
    flex
    gap-4 flex-col;
}

.render-transition {
  @apply transition-opacity duration-1000 ease-in-out;
}

/* Search bar and button styles */

.search-bar-container {
  @apply flex;
}

.search-input {
  @apply flex-grow bg-gray-900 text-white border-2 border-blue-500
    rounded-tl-full rounded-bl-full text-center;
}

.search-button {
  @apply bg-blue-500 text-white border-2 border-blue-500 
    rounded-tr-full rounded-br-full py-2.5 px-5 cursor-pointer
    transition 
      delay-300;
}

.search-button:hover {
  @apply bg-blue-600 border-blue-600;
}

/* Results container styles */

.search-results {
  @apply 
  row-start-3 row-end-3
  col-start-1 col-end-1
  lg:col-start-2 lg:col-end-8 
}

.results-container {
  @apply bg-gray-100 rounded-lg p-5 shadow text-center;
}

.results-list {
  @apply list-none p-0 m-0;
}

.no-results {
  @apply text-gray-600;
}

.result-item {
  @apply text-gray-800;
}

.transport-departures {
  @apply 
  row-start-4 row-end-4
  col-start-1 col-end-1
  lg:col-start-2 lg:col-end-6;
}

.weather-updates {
  @apply 
  row-start-5 row-end-5
  col-start-1 col-end-1
  lg:col-start-6 lg:col-end-8 lg:row-start-4 lg:row-end-4; 
}

.traffic-updates {
  @apply
  row-start-6 row-end-6  
  col-start-1 col-end-1
  lg:col-start-2 lg:col-end-8 lg:row-start-5 lg:row-end-5 
  w-full h-full;
}
