#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*---- App-wide font styles ----*/

h1 {
  @apply text-4xl text-white mb-4;  
}

h2 {
  @apply text-2xl text-white mb-4;
}

h3 {
  @apply text-xl text-white mb-3;
}

/*----- App-wide layout styles -----*/


.container {
  @apply grid 
  grid-cols-5 grid-rows-4 gap-2;
}

.logo-container {
  @apply col-start-1 col-end-4 row-start-1 row-end-1;
  }

.search {
  @apply col-start-1 col-end-4 row-start-2 row-end-2;
}

/* Search bar and button styles */

.search-bar-container {
  @apply flex w-full;
}

.search-input {
  @apply flex-grow bg-gray-900 text-white border-2 border-blue-500
    rounded-tl-full rounded-bl-full py-2.5 px-4;
}

.search-button {
  @apply bg-blue-500 text-white border-2 border-blue-500 
    rounded-tr-full rounded-br-full py-2.5 px-5 cursor-pointer
    transition 
      delay-300;
}

.search-button:hover {
  @apply bg-blue-600 border-blue-600;
}

/* Results container styles */

.results-container {
  @apply w-full bg-gray-900 rounded-lg p-5 shadow;
}

.results-list {
  @apply list-none p-0 m-0;
}

.no-results {
  @apply text-gray-300;
}

.dashboard-left {
  @apply col-start-1 col-end-3 row-start-3 row-end-3;
}

/* Temporary placeholder. Will move into DepartureInfo component. */
.transport-container {
  @apply bg-white/90 rounded-lg p-4 shadow-md h-full;
}

.dashboard-right {
  @apply col-start-3 col-end-4 row-start-3 row-end-3;
}

.dashboard-bottom {
  @apply col-start-1 col-end-4 row-start-4 row-end-4
}
