#root {
  margin: 0 auto;
  padding: 2rem;
}

/*---- App-wide font styles ----*/

h1 {
  @apply text-3xl text-white;  
}

h2 {
  @apply font-bold text-xl mb-3 text-gray-800;
}

h3 {
    @apply font-bold text-lg mb-2 text-gray-800;
}

a {
  @apply text-blue-500
  transition 
    delay-300;
}

a:hover {
  @apply text-blue-600;
}

/*----- App-wide layout styles -----*/

.container {
  @apply grid 
  gap-6 grid-cols-8 grid-rows-[auto_auto_1fr_auto];
}

/* to-do: align logo to text */
.logo-container {
  @apply col-start-1 col-end-3 row-start-1 row-end-1
    flex 
      gap-2 items-start;
  }

.search {
  @apply col-start-2 col-end-8 row-start-2 row-end-2
    flex
    gap-4 flex-col;
}

/* Search bar and button styles */

.search-bar-container {
  @apply flex w-full;
}

.search-input {
  @apply flex-grow bg-gray-900 text-white border-2 border-blue-500
    rounded-tl-full rounded-bl-full py-2.5 px-4;
}

.search-button {
  @apply bg-blue-500 text-white border-2 border-blue-500 
    rounded-tr-full rounded-br-full py-2.5 px-5 cursor-pointer
    transition 
      delay-300;
}

.search-button:hover {
  @apply bg-blue-600 border-blue-600;
}

/* Results container styles */

.results-container {
  @apply w-full bg-white/90 rounded-lg p-5 shadow;
}

.results-list {
  @apply list-none p-0 m-0;
}

.no-results {
  @apply text-gray-500;
}

.result-item {
  @apply text-gray-800;
}

/* Temporary placeholder. Will move into DepartureInfo component. */

.transport-departures {
  @apply 
    col-start-2 col-end-6 row-start-3 row-end-3
    bg-white/90 text-gray-900 rounded-lg p-4 shadow-md h-full;
}

.weather-updates {
  @apply col-start-6 col-end-8 row-start-3 row-end-3;
}

.traffic-updates {
  @apply col-start-2 col-end-8 row-start-4 row-end-4 w-full;
}
